.ahooks-drop-warp {
  height: 100vh;
}
.ahooks-drop-warp header {
  height: 58px;
  display: flex;
  align-items: center;
}
.ahooks-drop-warp main {
  display: flex;
  justify-content: space-between;
}

section {
  border: 1px solid red;
}

.ahooks-drop-warp main section:nth-child(1) {
  width: 300px;
  height: calc(100vh - 60px);
}
.ahooks-drop-warp main section:nth-child(2) {
  width: calc(100% - 700px);
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.ahooks-drop-warp main section:nth-child(3) {
  width: 400px;
  height: calc(100vh - 60px);
}
